.Note {
    width: 83vw;
    height: 90vh;
    
    .btns {
        width: 83vw;
        height: 5vh;
        // background-color: aqua;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}